* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;

}

/* .content {
  max-width: 100%;
} */


body {
  background: #E5E5E5;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column; */
  overflow-x: hidden;

}

html {
  display: flex;
  flex-direction: column;
}

ul li {
  list-style: none;
}

.section {
  display: flex;
  align-items: center;
}

.nav {
  position: fixed;
  height: 50px;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 10px; */
  /* padding-top: 30px; */
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 8px rgb(226, 222, 222);
  border-radius: 12px;
  padding: 0 10px;
  z-index: 1000;
}

.header {
  max-width: 100%;
  /* margin: 0 auto; */
  padding: 0 20px;
  margin-bottom: 10px;
}

.heder_list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.heder_list1 {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

span {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.header_img img {
  width: 30px;
  height: 30px;
}

.h2 {
  /* font-family: 'Mulish', 'italic'; */
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;

  /* identical to box height */
  letter-spacing: 0.01em;

  color: #000000;
}

.heder_item {

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;

  /* identical to box height */

  color: #000000;
}

.heder_item1 a {
  padding: 9px 10px;
  border: 1px solid #000;
  border-radius: 34px;
  line-height: 20px;
  display: block;
  /* width: 100px;
  height: 30px; */
}

.heder_item1 :hover {
  background-color: coral;
  z-index: 2;
  border: none;
  /* display:block; */
}

@media only screen and (min-width:800px) {
  .heder_div {
    display: block;
  }

  .heder_div1 {
    display: block;
  }



  .nav {
    background-color: rgb(255, 255, 255);
    /* width:95%; */
    max-width: 90%;
    /* padding-top: 10px; */
    margin: 0 auto;
    top: 10px;

  }

}

@media only screen and (max-width:800px) {

  .header {
    margin-bottom: 10px;
  }

  .nav {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -17px 0px 30px rgb(245, 243, 243);
    /* width:95%; */
    max-width: 85%;
    /* padding-top: 10px; */
    margin: 0 auto;
    top: 10px;

  }

  .heder_div {
    position: fixed;
    right: -100%;
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
    top: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .shov1 {
    right: 40px;
  }

  .show {
    right: 25px;
    /* background-color:#000000; */
  }

  .delete {
    display: none;
  }


  .menu_1 {
    position: fixed;
    right: -100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    /* right: 60px; */
    top: 60px;
  }



  .menu_toggle_1:nth-child(2) {
    opacity: 0;
  }

  .menu_toggle_1:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: 0 90%;
  }

  .menu_toggle_1:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 5%;
  }

  .menu_toggle_1 {
    width: 20px;
    height: 3px;
    background-color: #000000;
  }


  .heder_list {
    margin-top: 90px;
    display: flex;
    line-height: 60px;
    flex-direction: column;
    gap: 60px;
  }

  .heder_div1 {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding-top: 6px;
    padding-right: 5px;
    /* background-color:#000; */

  }

  .menu_toggle {
    width: 20px;
    height: 3px;
    background-color: #000000;
  }

  .header_section .here {
    grid-template-columns: repeat(1, 1fr);

  }

  .here_deck {
    text-align: center;
  }

  .span_here {
    display: inline-block;
  }

  .span_here a {
    display: inline-block;
  }

  .span_here a {
    margin-bottom: 10px;
  }

  .here .here_deck h1 {
    font-size: 50px;
    line-height: 50px;
    /* margin-top: 10px; */
    padding-top: 40px;
  }

  .here_img {
    margin-top: 30px;
  }

  .here_img .here_img-1 {
    max-width: 100%;
  }

  .portnor_div .portnor_list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 5px;
    align-items: center;
    justify-items: center;

  }

  .portnor_item {
    max-width: 180px;

  }

  .Card__desk .Card__list {

    grid-template-columns: repeat(1, 300px);
    row-gap: 30px;

  }

  .Card__div .Card__h1 {
    font-size: 30px;
    line-height: 50px;
  }
}


/* secsion here */

/* .here_img{
  background-image: url("../img/Maskgroup.png");
  background-repeat: no-repeat;
} */
.here_img-1 {
  width: 350px;
}

.here {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  /* justify-items: center; */
  align-items: center;
  /* gap:20px; */
}

.here_deck h1 {

  /* max-width: 492px; */
  /* height: 246px; */
  font-family: 'Ageo Personal Use';
  font-style: normal;
  font-weight: 800;
  font-size: 74px;
  line-height: 82px;

  /* or 111% */
  margin-bottom: 26px;

  color: #0B1B35;
}

.here_deck p {
  /* font-family: 'italic'; */
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  /* max-width: 555px; */
  /* or 130% */
  margin-bottom: 50px;
  color: #000000;
}

.header_section {
  margin-top: 60px;
}

.span_here a {
  width: 196px;
  height: 64px;

  border-radius: 32px;
  text-align: center;
  line-height: 64px;
}

.span_a1 {
  border: none;
  background: #FF6600;
  box-shadow: 0 0 2px 8px #D3D0D0;
}

.span_a {
  border: none;
  border: 1px solid #000;

}

.here_img {
  text-align: center;
}

/*  portnor */
.portnor_div {
  margin-top: 150px;
}

.portnor_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.portnor_item:hover {
  background-color: #fff;
  max-width: 229px;
  height: 80px;
  box-shadow: 1px 0 0 10px #E5E5E5;
  transform: translateY(-10px);
  transition: 1s;
  z-index: 2;
}

.portnor_item {
  max-width: 229px;
  height: 80px;
  text-align: center;
  line-height: 108px;
  transition: 1s;
}

.portnor_item .portnor_img {
  max-width: 100%;

}

/* Caerd */
.Card__div {
  padding-top: 53px;
}

.Card__p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;

  /* identical to box height, or 204% */
  text-align: center;
  letter-spacing: 0.45em;
  margin-bottom: 30px;
  color: #FF6600;
}

.Card__h1 {
  font-family: 'Ageo Personal Use';
  font-style: normal;
  font-weight: 800;
  font-size: 52px;
  line-height: 28px;

  /* identical to box height, or 55% */
  text-align: center;
  margin-bottom: 90px;
  color: #0B1B35;
}

.Card__desk {
  display: grid;
  align-items: center;
  justify-items: center;
}

.Card__list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  column-gap: 50px;
  align-items: center;
  text-align: center;
}

.Card__iteam {
  border: 1px solid #CFC5C5;
  box-shadow: 0 0px 9px 5px #c7c8c9;
  border-radius: 15px;
  height: 391px;
  transition: 1s;
}

.Card__iteam img {
  max-width: 100%;
  padding-top: 40px;
  margin-bottom: 35px;
}

.Card__iteam p {
  margin-top: 40px;
  padding: 0 30px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #000000;
}

.Card__iteam h4 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;

  /* identical to box height */

  color: #000000;
}

.Card__iteam:hover {
  transform: translateX(10px);
  transition: 1s;
  border: 1px solid rgb(161, 158, 158);
  background-color: #fff;
  box-shadow: 0 0px 9px 5px #919192;
  transform: translateY(-20px);
  z-index: 2;
}